.container{
    grid-column: span 2;
    padding: 5rem 2em;
    background-color: #fff;
}
.container h2{
    margin-bottom: 2rem;
}

@media (max-width:750px) {
    .container{
        grid-column: 1/2;
    }
}