.fundamentals ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap:1.8rem;
    padding-bottom: 2rem;
}
.fundamentals ul li{
    display: grid;
    grid-template-columns:1fr 1fr;
    padding: 1.4rem 0;
    border-bottom: 1px solid rgb(159, 157, 157);
}
.fundamentals ul li:nth-child(-n+5) {
  
    grid-column: 1/2;
}
.fundamentals ul li:nth-child(n+6) {
  
    grid-column: 2/3;
}
.fundamentals ul li:nth-child(6){
    grid-row: 1/2;
}
.fundamentals ul li:nth-child(7){
    grid-row: 2/3;
}
.fundamentals ul li:nth-child(8){
    grid-row: 3/4;
}
.fundamentals ul li:nth-child(9){
    grid-row: 4/5;
}
.fundamental__value{
    justify-self: flex-end;
    margin-left: auto;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: right;

}
.fundamental__title{
    color: rgb(159, 157, 157);
    
}
.high{
    color: red;
}
.green{
    color: rgb(16, 214, 16);
}
.fundamental__value-description{
    display: block;
    font-size: 0.9rem;
    font-weight: normal;
}
@media (max-width:700px) {
    .fundamentals ul{
        grid-template-columns: 1fr;
    }
    .fundamentals ul li:nth-child(n+6){
        grid-column: 1/2;
    }
    .fundamentals ul li:nth-child(6){
        grid-row: 6/7;
    }
    .fundamentals ul li:nth-child(7){
        grid-row: 7/8;
    }
    .fundamentals ul li:nth-child(8){
        grid-row: 8/9;
    }
    .fundamentals ul li:nth-child(9){
        grid-row: 9/10;
    }
}