main{
    display: grid;
    grid-template-columns: 64% 33%;
    padding: 1rem;
    gap: 2rem;
}
.main__content{
  display: grid;
  grid-template-columns: 100%;
  gap:1rem;
}
footer{
    padding: 1rem;
}

.breadCrumbs{
    grid-row: 1/2;
}
.graph{
    grid-row: 2/3;
}
.feature-1,.feature-2{
    grid-column: 1/2;
}
.tekenomics{
    grid-template-columns: 1/2;
}
.feature-1{
   margin-top: 2rem;
    grid-row: 3/4;
}
.tabs{
    display: flex;
    gap: 1rem;
    overflow-x:auto;
    align-items: center;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-bottom: 0.9rem;
    border-bottom: 1px solid #9f9d9d;
}
aside{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top:3rem;
}
.aside__container{
    background-color: #1B4BEF;
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    color: #fff;
}
.aside__container .aside__btn{
    background-color: #fff;
    padding: 0.7rem 1rem;
    display: inline-block;
    border-radius: 10px;
}
.aside__container img{
    max-width: 300px;
    width: 100%;
    margin-inline: auto;
}
.tabs button{
    font-size: 1rem;
    white-space: nowrap;
    position: relative;
}
h4,h5,p{
    line-height: 1.6;
}
.tabs button::after{
    content:'';
    position: absolute;
    width: 0%;
    height: 4px;
    bottom: -73%;
    left: 0;
    background-color:#1B4BEF ;
   
}
.tabs button.active__tab{
    color: #1B4BEF;
    font-weight: 700;
}
.tabs button.active__tab::after{
    width: 100%;
}
.tab-details{
    margin: 2rem 0 0;
}
/*  */

@media (max-width:750px){
    main{
        grid-template-columns:100%;
    }
    aside{
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 1rem;
    }
}